#yomichan-panel {
  background-color: white;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  width: 500px;
  height: 400px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow-y: auto;
}

.dict-progress {
  display: none;
}

#fetch-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#entries {
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  max-width: 100px;
}

.stack-img {
  margin-bottom: 1px;
}

.entry img {
  box-shadow: 0 10px 6px -6px #777;
}

.entry p {
  font-size: small;
  margin-top: 0.5em;
  overflow-y: scroll;
  height: 4em;
}